<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="container-fluid">

   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
   <li class="pull-left"><a href="/Teachers">教师列表</a></li>
   <li ><a href="#intrudution">教师简介</a></li>
   <li ><a href="#teaching">教学工作</a></li>
   <li ><a href="#research">科研工作</a></li>
   <li ><a href="#papers">发表论文</a></li>
   <li ><a href="#recruitment">招聘博士后</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
