{% extends "base.html" %}

{%block head_title%}{{instance.name}} | 教师主页{%endblock head_title%}

{%block style%}
.col-center-block {  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}  
{%endblock style%}

{% block content %}
{% if instance.image %}
         <img src='{{ instance.image.url }}' class='img-responsive center-block' />
        {% endif %}
<h1>{{instance.name}}</h1>
    
<div class = 'row'>
    <div class = 'col-sm-6'>
	<p>学校：{{instance.college}}</p>
	<p>学院：{{instance.academy}}</p>
	<p>院系：{{instance.institution}}</p>
	<p>职称：{{instance.professional_title}}</p>
    </div>
    <div class = 'col-sm-6'>
        <p>地址：{{instance.address}}</p>
        <p>邮编：{{instance.post_number}}</p>
        <p>邮箱：{{instance.mail}}</p>
        <p>电话：{{instance.phone_number}}</p>
    </div>
</div>
<hr/>
{%endblock content%}
